---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar_c.svelte";
import Bootcampdata from '../components/Bootcamp.astro';

---

<Layout title="Kerala Startup Mission">
    <Navbar client:load></Navbar>

    <div class="min-h-screen pt-24 bg-black">
        <div class="container mx-auto text-center z-[2]">
            <div class="text-5xl md:text-6xl font-bold mb-5 text-huddle">Bootcamp</div>
      
            <section class="px-5  pb-24 pt-10 bg-black" id="tracks">
               
                <div class="container mx-auto">
                    <Bootcampdata></Bootcampdata>
                </div>
              </section>
    </div>

</Layout>


<style>
    .card {
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
        position: relative;
    }
    .tooltip {
        background-color: rgb(0, 0, 0);
        color: white;
        padding: 5px;
        border-radius: 5px;
        text-align: center;
        white-space: nowrap;
    }
    .location-icon {
        pointer-events: none;
    }
</style>
