---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar_c.svelte";

import Brand_stp from "../components/Brand_stp.svelte";


---
<!-- // import MarketingAgenda from "../components/MarketingAgenda.svelte"; -->

<Layout>
  <Navbar client:load></Navbar>

  

	<section class="pt-24 pb-10 px-5   min-h-[50vh] flex flex-col justify-center items-center overflow-hidden relative">
		<div class="absolute  w-full h-full top-0 left-0 bg-black bg-opacity-40"></div>

		    <div class="container mx-auto z-[2] pt-10">
            <div class="text-6xl md:text-8xl font-bold mb-5 text-huddle text-center ">Branding Challenge 2.0</div>

            <div class="text-base md:text-xl mb-5 max-w-4xl mx-auto text-center">
                The Branding Challenge 2.0 aims to create compelling brand identities for Food Technologies developed by research institutions to facilitate their effective promotion and commercialization.
                <p class="pt-8">
                    The creators will compete to provide branding insights such as brand names, logos, packaging designs, product mockups, and more.

                </p>
            </div>

            <div class="text-base md:text-xl mb-5 max-w-4xl mx-auto text-center">
                <p>Pick one technology & create a brand!</p><br>
                <p class=" font-bold text-3xl">
                    TOP 10 BRANDS WILL RECEIVE Rs. 10,000/-
                 & HUDDLE GLOBAL 2024 DESIGNERS AWARD
                </p>
                
            </div>
            <div class=" text-center pb-10">
              Last date to submit applications has been extended to <span class=" text-lg font-bold">10th November 2024</span>.
            </div>
            <div class="text-base md:text-base mb-5 max-w-4xl mx-auto text-center ">
                <a href="https://drive.google.com/file/d/1l2EbBhTt8lgBIHiKilo11bjWOg8cHMCs/view?usp=sharing" target="_blank" class=" text-white rounded-md px-4 py-2 font-semibold bg-huddle">View Guidelines</a>
            </div>
        </div>
       

	</section>

    <section class="md:px-10 px-6 pb-24">
            <div>
                <Brand_stp client:load></Brand>
            </div>
            <!-- <div class=" pt-10 mx-auto items-center justify-center flex">
                <a class="button  " href="https://zfrmz.com/YqvXct5lUFKRY4Y9DZlR"  target="_blank">Apply Now</a>
            </div>  -->
    </section>
    <section class="pb-16 items-center mx-auto justify-center text-center">
        <div class="flex flex-col pb-4 flex-wrap w-fit items-center mx-auto justify-center gap-2">
            <p class=" font-semibold">Partnered By</p>
            <div class="rounded-md bg-white shadow-md ">
                <img src="/img/branding/hp.png" class="w-32 md:w-44 rounded-md ">
            </div>
        </div>
        <p class=" font-semibold">Co-partnered By</p>
        <div class=" grid md:grid-cols-6 sm:grid-cols-3 grid-cols-1  flex-wrap w-fit items-center mx-auto justify-center gap-2">
          <div class="rounded-md bg-white shadow-md ">
              <img src="/img/branding/designer.png" class="w-32 md:w-44 rounded-md ">
          </div>
          <div class="rounded-md bg-white shadow-md ">
            <img src="/img/branding/keralaart.png" class="w-32 md:w-44 rounded-md ">
          </div>
          <div class="rounded-md bg-white shadow-md ">
            <img src="/img/branding/freshmindideas.png" class="w-32 md:w-44 rounded-md ">
          </div>
          <div class="rounded-md bg-white shadow-md ">
            <img src="/img/branding/agindia.png" class="w-32 md:w-44 rounded-md ">
          </div>
          <div class="rounded-md bg-white shadow-md ">
            <img src="/img/branding/mulearn.png" class="w-32 md:w-44 rounded-md ">
          </div>
          <div class="rounded-md bg-white shadow-md ">
            <img src="/img/branding/kochindesign.png" class="w-32 md:w-44 rounded-md ">
          </div>
      </div>
    </section>
    
    <div class=" text-center text-white pb-24">
      For any queries, contact: <a href="mailto:brandingchallenge@startupmission.in">brandingchallenge@startupmission.in</a></div>
 
      <div class="fixed left-0 bottom-12 m-4  z-50 bg-white shadow-md rounded-md   md:w-72 animate__animated  animate__fadeInDown" id="pop_up" style="display: none;">
        <div class="relative overflow-hidden">
          <img src="/img/2024/sponsorship.png" alt="Your Image" class=" ">
          <div class="absolute bottom-0 left-0  text-white md:p-2.5 p-1 bg-cover bg-bottom bg- w-full text-center uppercase md:text-lg text-sm font-bold  bg-sdg1 bg-opacity-90">
            <div class="flex">
              <a href="https://forms.zohopublic.com/keralastartupmission/form/SponsorshipHuddleGlobal/formperma/VR8pwlKkgjpOg1pKVUf0i8pgFgXZz9s6VN-vE73-CfI" class=" cursor-pointer border text-sm hover:bg-huddle hover:text-white border-huddle p-2 m-auto text-huddle" target="_blank" >Apply Now</a>
              <a href="https://drive.google.com/file/d/1-1APY44ZjLZR7Dzs6mz_Lq6FtaYUC6Lx/view?usp=sharing" class="p-2 border border-huddle m-auto text-huddle hover:bg-huddle hover:text-white text-sm cursor-pointer" target="_blank" >Sponsorship Deck</a>
            </div>
          </div>
        </div>
        <button class="absolute -top-2 -left-2 rounded-full bg-slate-900 text-white " id="closePopup">
          <svg class="h-5 w-5" fill="white" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div> 
</Layout>

<style lang="scss" is:global>
  body{
    font-family: 'Lato';
    font-size: 16px;
    line-height: 24px;
    background: black;
    overflow-X: hidden;
    transition: all 0.5s;
    color: #eee;
  }

</style>

<script is:inline>

  document.getElementById('closePopup').addEventListener('click', function() {
          document.getElementById('pop_up').style.display = 'none';
      });

  
  </script>

<style is:global>
    button.collision {
     text-decoration: none;
     color: #fff;
     text-transform: uppercase;
     font-family: 'Poppins', sans-serif;
     font-weight: bold;
     display: block;
     height: 50px;
     width: 150px;
     overflow: hidden;
     line-height: 50px;
     text-align: center;
     position: relative;
     border: 1px solid #C70000;
   }
 
   button.collision::before,
   button.collision::after {
     position: absolute;
     content: '';
     width: 20px;
     height: 20px;
     background:#C70000;
     top: 50%;
     border-radius: 50%;
     z-index: -1;
   }
 
   button.collision::before {
     transform: translate(-50%, -50%);
     left: -20px;
   }
 
   button.collision::after {
     transform: translate(50%, -50%);
     right: -20px;
   }
 
   button.collision:hover::before {
     animation: move-left .8s both;
     animation-direction: alternate;
   }
   button.collision:hover::after {
     animation: move-right .8s both;
     animation-direction: alternate;
   }
 
   button.collision:hover{
     animation: button-color .8s both;
   }
 
   @keyframes button-color {
     0% {
       color: #fff;
     }
     100% {
       color: #c70000;
     }
   }
 
   @keyframes move-left {
     0% {
       left: -20px;
     }
     50% {
       left: 50%;
       width: 20px;
       height: 20px;
     }
     100% {
       left: 50%;
       height: 400px;
       width: 400px;
     }
   }
 
   @keyframes move-right {
     0% {
       right: -20px;
     }
     50% {
       right: 50%;
       width: 20px;
       height: 20px;
     }
     100% {
       right: 50%;
       height: 400px;
       width: 400px;
     }
   }
 
   .button{
     position: relative;
     display: block;
     width: 200px;
     height: 45px;
     line-height: 40px;
     color: #fff;
     font-size: 16px;
     font-weight: 500;
     text-align: center;
     text-transform: uppercase;
     overflow: hidden;
     border-radius: 50px;
     border: 2px solid #c70000;
     transition: all 2s ease;
 
     &:hover{
       color: #fff;
       position: relative;
       z-index: 1;
 
       &::before{
         left: 0%;
         right: auto;
         width: 100%;
         z-index: -1;
       }
 
       &::after{
 
       }
     }
 
     &::before{
       position: absolute;
       top: 0px;
       right: 0px;
       height: 100%;
       width: 0px;
       content: '';
       background: #c70000;
       transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
     }
 
     &::after{
       content: "";
       position: absolute;
       height: 0%;
       left: 50%;
       top: 50%;
       width: 150%;
       transition: all 0.75s ease 0s;
     }
   }
 </style>
 
 <style is:global>
   button.collision {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: block;
    height: 50px;
    width: 150px;
    overflow: hidden;
    line-height: 50px;
    text-align: center;
    position: relative;
    border: 1px solid #C70000;
  }
 
  button.collision::before,
  button.collision::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background:#C70000;
    top: 50%;
    border-radius: 50%;
    z-index: -1;
  }
 
  button.collision::before {
    transform: translate(-50%, -50%);
    left: -20px;
  }
 
  button.collision::after {
    transform: translate(50%, -50%);
    right: -20px;
  }
 
  button.collision:hover::before {
    animation: move-left .8s both;
    animation-direction: alternate;
  }
  button.collision:hover::after {
    animation: move-right .8s both;
    animation-direction: alternate;
  }
 
  button.collision:hover{
    animation: button-color .8s both;
  }
 
  @keyframes button-color {
    0% {
      color: #fff;
    }
    100% {
      color: #c70000;
    }
  }
 
  @keyframes move-left {
    0% {
      left: -20px;
    }
    50% {
      left: 50%;
      width: 20px;
      height: 20px;
    }
    100% {
      left: 50%;
      height: 400px;
      width: 400px;
    }
  }
 
  @keyframes move-right {
    0% {
      right: -20px;
    }
    50% {
      right: 50%;
      width: 20px;
      height: 20px;
    }
    100% {
      right: 50%;
      height: 400px;
      width: 400px;
    }
  }
 
  .button_black{
    position: relative;
    display: block;
    width: 200px;
    height: 45px;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 50px;
    border: 2px solid #0f0e0e;
    transition: all 2s ease;
 
    &:hover{
      color: #fff;
      position: relative;
      z-index: 1;
 
      &::before{
        left: 0%;
        right: auto;
        width: 100%;
        z-index: -1;
      }
 
      &::after{
 
      }
    }
 
    &::before{
      position: absolute;
      top: 0px;
      right: 0px;
      height: 100%;
      width: 0px;
      content: '';
      background: #0e0d0d;
      transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    }
 
    &::after{
      content: "";
      position: absolute;
      height: 0%;
      left: 50%;
      top: 50%;
      width: 150%;
      transition: all 0.75s ease 0s;
    }
  }
 </style>
 

<script is:inline>
	function functionshow(d) {
    document.getElementById('pop_up').style.display = 'block';

  
	}
  </script>