---
import Layout from '../layouts/Layoutapp.astro';
import Feedback from '../components/Feedback.svelte';
---


    
<Layout>

    <div class=" mx-auto p-5 py-8 bg-[#f7f3f3] min-h-screen">
      <div class="mb-8">
        <!-- <div class="font-bold text-xl text-center">Share Your Experience</div> -->
        <p class="text-center text-sm text-gray-500">Please rate your experience for each category</p>
      </div>
      <div>
        <Feedback client:load></Feedback>
      </div>
        
    </div>
</Layout

