---
import Layout from '../layouts/Layoutapp.astro';
import Navbar from "../components/Navbar_c.svelte";
import Productexpo from '../components/Productexpoapp.svelte';

---

<Layout title="Kerala Startup Mission">
        <div>
            <img src="/img/bustime.png">
        </div>

</Layout>