---
import Layout from '../layouts/Layout.astro';
import Speakers from '../components/Speakers.svelte';
import Intro from '../components/Intro.astro';
---

<Layout  title="Kerala Startup Mission">

	<Intro></Intro>

	<section class="py-24 bg-white">
		<div class="container mx-auto">
			<Speakers client:load></Speakers>
		</div>
	</section>

</Layout>
