---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbarsub.svelte";
import Mentors from '../components/Mentors.svelte';

---


    

    <div class=" mx-auto py-10 bg-[#f7f3f3]">
        <Mentors client:load></Mentors>
    </div>

