---
import Layout from '../layouts/Layoutapp.astro';
import Navbar from "../components/Navbarsub.svelte";
import Mentors from '../components/Mentors.svelte';

---


    
<Layout>

    <div class=" mx-auto pb-10 bg-[#f7f3f3]">
        <Mentors client:load></Mentors>
    </div>
</Layout

