---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar_c.svelte";



---
<!-- // import MarketingAgenda from "../components/MarketingAgenda.svelte"; -->

<Layout>
  <Navbar client:load></Navbar>

  

	<section class="py-24 px-5 z-[10]  min-h-[50vh] flex flex-col justify-center items-center overflow-hidden relative">
		<div class="absolute z-[1] w-full h-full top-0 left-0 bg-black bg-opacity-40"></div>

		<div class="container mx-auto text-center z-[2] pt-10">
            <div class="text-6xl md:text-8xl font-bold mb-5 text-huddle">Product Launch</div>

            <div class="text-base md:text-xl mb-5 max-w-4xl mx-auto">
                Is your company ready to introduce a groundbreaking product to the world? Huddle Global 2024 offers an unparalleled stage for product launches, giving you the opportunity to captivate a global audience of industry leaders, media, investors, and potential customers.
            </div>
        </div>

        <div class="container mx-auto md:px-20 pb-20 pt-10 px-5  ">

            <div class="z-[1]">
              <div class="mb-6 text-2xl font-black text-white text-center z-[1]">Why Launch at Huddle Global 2024?</div>
            </div>

            <div class="text-white text-xl pb-8 text-center md:w-3/4 w-full mx-auto items-center justify-center flex flex-col">
                Huddle Global is more than just an event it’s where the future is unveiled. By launching your product at this prestigious international conference, you’ll benefit from:
            </div>
            <div class="py-5 grid md:grid-cols-3 gap-4 sm:grid-cols-2 grid-cols-1">
                <div>
                    <p class="pb-3"><span class="text-huddle">&#9635;</span>&nbsp;&nbsp;&nbsp; <span class=" font-bold text-xl">Unmatched Visibility</span></p>
                    <p>Showcase your product to a diverse, influential audience from across the globe.</p>

                </div>
                <div>
                    <p class="pt-1 pb-3"><span class="text-huddle">&#9635;</span>&nbsp;&nbsp;&nbsp; <span class=" font-bold text-xl">Media Spotlight</span></p>
                    <p>Gain media attention with our dedicated press coverage and promotional support.
                    </p>
                </div>

               <div>
                    <p class=" pt-1 pb-3"><span class="text-huddle">&#9635;</span>&nbsp;&nbsp;&nbsp; <span class=" font-bold text-xl">Engagement Opportunities</span></p>
                    <p>
                        Connect directly with potential clients, partners, and investors who are eager to discover the next big thing.
                    </p>
               </div>

                <div>
                    <p class=" pt-1 pb-3"><span class="text-huddle">&#9635;</span>&nbsp;&nbsp;&nbsp; <span class=" font-bold text-xl">Market Validation</span></p>
                    <p>
                        Gather immediate feedback from industry experts and early adopters, helping you refine and perfect your offering.
                    </p>
                </div>

                <div>
                    <p class=" pt-1 pb-3"><span class="text-huddle">&#9635;</span>&nbsp;&nbsp;&nbsp; <span class=" font-bold text-xl">Investor attention</span></p>
                    <p>
                        Get investors attracted to your product with the product launch
                    </p>
                </div>

            </div>


            <div class=" py-4">
                <div class="mb-3 text-2xl font-black text-white">Who Should Apply?</div>
                <p class="text-xl">If your product is poised to disrupt the technology world , we want to help you make a splash at Huddle Global 2024.</p>
            </div>
            
            <div class="pt-10">
                <div class="grid md:grid-cols-2 grid-cols-1 gap-4">
                    <div>
                        <div class="mb-6 text-2xl font-black text-white">What’s Included in the Product Launch Package:</div>
                        <div>
                           <div>
                                <p class=" font-bold"><span class="text-huddle pr-4">&#9635;</span>Prime Launch Slot</p>
                                <p class="pl-10 text-lg py-1">A dedicated time on the main stage to unveil your product to the world.</p>
                           </div>
                           <div>
                                <p class=" font-bold"><span class="text-huddle pr-4">&#9635;</span>Customized Launch Support</p>
                                <p class="pl-10 text-lg py-1">Assistance with staging, AV equipment, and promotional materials to ensure your launch is a success.
                                </p>
                            </div>
                            <div>
                                <p class=" font-bold"><span class="text-huddle pr-4">&#9635;</span>Pre-Event Promotion</p>
                                <p class="pl-10 text-lg py-1">Feature in our pre-event marketing campaigns, social media, and newsletters.
                                </p>
                            </div>
                            
                            <div>
                                <p class=" font-bold"><span class="text-huddle pr-4">&#9635;</span>Post-Launch Follow-Up</p>
                                <p class="pl-10 text-lg py-1">Continued support and promotion post-launch, including featured spots in our event recap materials.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div>
                        <img src="/img/5900614_3756 1.svg" class=" rounded-3xl"> 
                    </div>
                </div>
            </div>
            <div class="md:px-20 px-5 ">
                <div class="mb-6 text-2xl font-black text-white">How to Apply</div>
                <div class="text-justify text-xl">Applications are now open! To be considered for this exclusive opportunity, please submit your application by October 31st 2024. We’re looking for detailed information about your product, its market potential, and how it aligns with the themes of Huddle Global 2024.
                </div>
                <div class=" pt-10 mx-auto items-center justify-center flex">
                    <a class="button z-50 " href="https://zfrmz.com/mW7Xh53rE9BNw628fx4h"  target="_blank">Apply Now</a>
              
                  </div>
            </div>
      
        </div>
	</section>

  

    <div class="fixed left-0 bottom-12 m-4  z-50 bg-white shadow-md rounded-md   md:w-72 animate__animated  animate__fadeInDown" id="pop_up" style="display: none;">
        <div class="relative overflow-hidden">
          <img src="/img/2024/sponsorship.png" alt="Your Image" class=" ">
          <div class="absolute bottom-0 left-0  text-white md:p-2.5 p-1 bg-cover bg-bottom bg- w-full text-center uppercase md:text-lg text-sm font-bold  bg-sdg1 bg-opacity-90">
            <div class="flex">
              <a href="https://forms.zohopublic.com/keralastartupmission/form/SponsorshipHuddleGlobal/formperma/VR8pwlKkgjpOg1pKVUf0i8pgFgXZz9s6VN-vE73-CfI" class=" cursor-pointer border text-sm hover:bg-huddle hover:text-white border-huddle p-2 m-auto text-huddle" target="_blank" >Apply Now</a>
              <a href="https://drive.google.com/file/d/1-1APY44ZjLZR7Dzs6mz_Lq6FtaYUC6Lx/view?usp=sharing" class="p-2 border border-huddle m-auto text-huddle hover:bg-huddle hover:text-white text-sm cursor-pointer" target="_blank" >Sponsorship Deck</a>
            </div>
          </div>
          
        </div>
        <button class="absolute -top-2 -left-2 rounded-full bg-slate-900 text-white " id="closePopup">
          <svg class="h-5 w-5" fill="white" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div> 
</Layout>

<style lang="scss" is:global>
  body{
    font-family: 'Lato';
    font-size: 16px;
    line-height: 24px;
    background: black;
    overflow-X: hidden;
    transition: all 0.5s;
    color: #eee;
  }

</style>

<script is:inline>

  document.getElementById('closePopup').addEventListener('click', function() {
          document.getElementById('pop_up').style.display = 'none';
      });

  
  </script>

<style is:global>
    button.collision {
     text-decoration: none;
     color: #fff;
     text-transform: uppercase;
     font-family: 'Poppins', sans-serif;
     font-weight: bold;
     display: block;
     height: 50px;
     width: 150px;
     overflow: hidden;
     line-height: 50px;
     text-align: center;
     position: relative;
     border: 1px solid #C70000;
   }
 
   button.collision::before,
   button.collision::after {
     position: absolute;
     content: '';
     width: 20px;
     height: 20px;
     background:#C70000;
     top: 50%;
     border-radius: 50%;
     z-index: -1;
   }
 
   button.collision::before {
     transform: translate(-50%, -50%);
     left: -20px;
   }
 
   button.collision::after {
     transform: translate(50%, -50%);
     right: -20px;
   }
 
   button.collision:hover::before {
     animation: move-left .8s both;
     animation-direction: alternate;
   }
   button.collision:hover::after {
     animation: move-right .8s both;
     animation-direction: alternate;
   }
 
   button.collision:hover{
     animation: button-color .8s both;
   }
 
   @keyframes button-color {
     0% {
       color: #fff;
     }
     100% {
       color: #c70000;
     }
   }
 
   @keyframes move-left {
     0% {
       left: -20px;
     }
     50% {
       left: 50%;
       width: 20px;
       height: 20px;
     }
     100% {
       left: 50%;
       height: 400px;
       width: 400px;
     }
   }
 
   @keyframes move-right {
     0% {
       right: -20px;
     }
     50% {
       right: 50%;
       width: 20px;
       height: 20px;
     }
     100% {
       right: 50%;
       height: 400px;
       width: 400px;
     }
   }
 
   .button{
     position: relative;
     display: block;
     width: 200px;
     height: 45px;
     line-height: 40px;
     color: #fff;
     font-size: 16px;
     font-weight: 500;
     text-align: center;
     text-transform: uppercase;
     overflow: hidden;
     border-radius: 50px;
     border: 2px solid #c70000;
     transition: all 2s ease;
 
     &:hover{
       color: #fff;
       position: relative;
       z-index: 1;
 
       &::before{
         left: 0%;
         right: auto;
         width: 100%;
         z-index: -1;
       }
 
       &::after{
 
       }
     }
 
     &::before{
       position: absolute;
       top: 0px;
       right: 0px;
       height: 100%;
       width: 0px;
       content: '';
       background: #c70000;
       transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
     }
 
     &::after{
       content: "";
       position: absolute;
       height: 0%;
       left: 50%;
       top: 50%;
       width: 150%;
       transition: all 0.75s ease 0s;
     }
   }
 </style>
 
 <style is:global>
   button.collision {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: block;
    height: 50px;
    width: 150px;
    overflow: hidden;
    line-height: 50px;
    text-align: center;
    position: relative;
    border: 1px solid #C70000;
  }
 
  button.collision::before,
  button.collision::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background:#C70000;
    top: 50%;
    border-radius: 50%;
    z-index: -1;
  }
 
  button.collision::before {
    transform: translate(-50%, -50%);
    left: -20px;
  }
 
  button.collision::after {
    transform: translate(50%, -50%);
    right: -20px;
  }
 
  button.collision:hover::before {
    animation: move-left .8s both;
    animation-direction: alternate;
  }
  button.collision:hover::after {
    animation: move-right .8s both;
    animation-direction: alternate;
  }
 
  button.collision:hover{
    animation: button-color .8s both;
  }
 
  @keyframes button-color {
    0% {
      color: #fff;
    }
    100% {
      color: #c70000;
    }
  }
 
  @keyframes move-left {
    0% {
      left: -20px;
    }
    50% {
      left: 50%;
      width: 20px;
      height: 20px;
    }
    100% {
      left: 50%;
      height: 400px;
      width: 400px;
    }
  }
 
  @keyframes move-right {
    0% {
      right: -20px;
    }
    50% {
      right: 50%;
      width: 20px;
      height: 20px;
    }
    100% {
      right: 50%;
      height: 400px;
      width: 400px;
    }
  }
 
  .button_black{
    position: relative;
    display: block;
    width: 200px;
    height: 45px;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 50px;
    border: 2px solid #0f0e0e;
    transition: all 2s ease;
 
    &:hover{
      color: #fff;
      position: relative;
      z-index: 1;
 
      &::before{
        left: 0%;
        right: auto;
        width: 100%;
        z-index: -1;
      }
 
      &::after{
 
      }
    }
 
    &::before{
      position: absolute;
      top: 0px;
      right: 0px;
      height: 100%;
      width: 0px;
      content: '';
      background: #0e0d0d;
      transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    }
 
    &::after{
      content: "";
      position: absolute;
      height: 0%;
      left: 50%;
      top: 50%;
      width: 150%;
      transition: all 0.75s ease 0s;
    }
  }
 </style>
 

<script is:inline>
	function functionshow(d) {
    document.getElementById('pop_up').style.display = 'block';

  
	}
  </script>