---
import Layout from '../layouts/Layoutapp.astro';
import Navbar from "../components/Navbar_c.svelte";

let tracks1 = [
{
  "image": "/img/launch.png",
  "link":"/product_launch",
  "name": "Product Launch"
 },
 {
  "image": "/img/21.png",
  "link":"/product_expo",
  "name": "Product Expo",
 
 }

 
];
---

<style lang="scss">

  .flipbox {
    &.flip-bottom {
      &:hover {
        .flipbox-front {
          transform: rotateX(-180deg);
        }
        .flipbox-back {
          transform: rotateX( 0deg);
        }
      }
      .flipbox-back {
        transform: rotateX(180deg);
      }
    }
    &.flip-right {
      &:hover {
        .flipbox-front {
          transform: rotateY(-180deg);
        }
        .flipbox-back {
          transform: rotateY( 0deg);
        }
      }
      .flipbox-back {
        transform: rotateY(180deg);
      }
    }
    &:hover {
      .readmore-button {
        animation-delay: 500ms !important;
      }
    }
    .flipbox-wrapper {
      text-align: center;
      border-radius: 10px;
      position: relative;
      z-index: 1;
      perspective: 1000px;
      min-height: 300px;
      .flipbox-front,
      .flipbox-back {
        transform-style: preserve-3d;
        backface-visibility: hidden;
        perspective: inherit;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #fff;
        box-shadow: 0 26px 38px 0 rgb(0 0 0 / 20%);
        transition: transform .8s cubic-bezier(0.5, 0.2, 0.2, 0.8);
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      .flipbox-front {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        background-color: white;
        color: white;
        background-size: cover;
        background-position: center;
        &::before{
          content: '';
          background: #000;
          width: 100%;
          height: 100%;
          position: absolute;
          opacity: 50%;
          border-radius: 10px;
        }
        .title {
          position: relative;
          z-index: 5;
          text-align: center;
          width: 100%;
          transform: translate3d(0, 0, 70px) scale(0.86);
          transform-style: preserve-3d;
          perspective: inherit;
          backface-visibility: hidden;
          font-size: 40px;
          font-weight: 900;
          line-height: 1.2;
          text-shadow: 2px 2px 3px rgba(0, 0, 0, .75);
        }
      }
      .flipbox-back {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #c70000;
        color: white;
        padding: 1rem;
        .title {
          backface-visibility: hidden;
          transform: translate3d(0, -10px, 35px) scale(0.86);
          line-height: 20px;
          font-size: 10rem;
          font-weight: 700;
          opacity: .25;
        }
        .content {
          transform-style: preserve-3d;
          perspective: inherit;
          transform: translateZ(70px) scale(0.86);
          backface-visibility: hidden;
          font-size: 1rem;
          font-weight: 300;
          // padding: 32px;
        }
      }
    }
  }

  .readmore-button {
    display: inline-flex;
    transition: all .3s ease-in-out;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: -27.5px;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    background: #fd226a;
    justify-content: center;
    align-items: center;
    svg {
      width: 20px;
      height: 20px;
      color: white;
    }
  }

  .readmore-wrapper:hover {
    .readmore-button {
      animation: bounceReadMore .5s ease-in-out both;
      opacity: 1;
      visibility: visible;
      margin: 0;
    }
  }

  @keyframes bounceReadMore {
    0% {
      transform: translateY(-35px) translateZ(20px)
    }
    50% {
      transform: translateY(15px) translateZ(20px)
    }
    100% {
      transform: translateY(0) translateZ(20px)
    }
  }


</style>

<Layout>
    <Navbar client:load></Navbar>


	<section class=" bg-black  pt-32 px-5  min-h-[50vh] flex flex-col justify-center items-center overflow-hidden relative">
		<div class="absolute z-[1] w-full h-full top-0 left-0 bg-black bg-opacity-40"></div>

		<div class="container mx-auto text-center z-[2]">
      <div class="text-4xl md:text-6xl font-bold mb-5 text-huddle">Huddle Global 2024 Expo</div>

      <div class="text-base md:text-xl mb-5 max-w-4xl mx-auto">
			</div>
    </div>
	</section>




 
  <div class="grid gap-8 md:grid-cols-2 mx-auto md:w-1/2 container pb-24 px-5">
    {tracks1.map((item) => (
      <a class={"flipbox readmore-wrapper " + ((tracks1.indexOf(item) % 2 == 0) ? "flip-bottom" : "flip-right") } href={item.link??"#"} >
        <div class="flipbox-wrapper">
          <div class="flipbox-front" style={ item.image ? "background-image: url("+ item.image +")" : "" } >
            <h5 class="title">{item.name}</h5>
          </div>
          <div class="flipbox-back">
            <div class=" text-xl">
              {item.name}
            </div>
            <div class="readmore-button">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
              </svg>
            </div>
          </div>
        </div>
      </a>
    ))}
  </div>

    <div class="fixed right-0 bottom-12 m-4  z-50 bg-white shadow-md rounded-md hidden  md:w-72 animate__animated  animate__fadeInDown" id="pop_up">
        <div class="relative overflow-hidden">
					<img src="/img/485 (4).png" alt="Your Image" class=" ">
					<div class="absolute bottom-0 left-0  text-white md:p-2.5 p-1 bg-cover bg-bottom bg- w-full text-center uppercase md:text-lg text-sm font-bold  bg-sdg1 bg-opacity-90">
            <div class="flex">
              <a href="https://forms.zohopublic.com/keralastartupmission/form/Sponsorshiphuddle/formperma/zR1bnepv1alAUbFQOEFUL3ylyM6KrBVTP1ZeIWibhmQ" class=" cursor-pointer border text-sm hover:bg-huddle hover:text-white border-huddle p-2 m-auto text-huddle" target="_blank" >Apply Now</a>
              <a href="https://drive.google.com/file/d/1ihhiF6yWNcfmJ7RpBRV-sJAj-9rBRNCE/view?usp=sharing" class="p-2 border border-huddle m-auto text-huddle hover:bg-huddle hover:text-white text-sm cursor-pointer" target="_blank" >Sponsorship Deck</a>
            </div>
          </div>
         
				</div>
        <button class="absolute -top-2 -left-2 rounded-full bg-slate-900 text-white " id="closePopup">
          <svg class="h-5 w-5" fill="white" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>

</Layout>

<style lang="scss" is:global>
  body{
    font-family: 'Lato';
    font-size: 16px;
    line-height: 24px;
    overflow-X: hidden;
    transition: all 0.5s;
    background: black;
    color: #eee;
  }


</style>

<script is:inline>

  document.getElementById('closePopup').addEventListener('click', function() {
          document.getElementById('pop_up').style.display = 'none';
      });

  
  </script>



<script is:inline>
	function functionshow(d) {
    document.getElementById('pop_up').style.display = 'block';

  
	}
  </script>

  <style is:global>
 
    .roadmap {
           
            justify-content: space-between;
            align-items: center;
            
            padding: 20px;
           
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }

        .event {
            text-align: center;
        }

        .event-circle {
            width: 30px;
            height: 30px;
            background-color: #007BFF;
            color: #fff;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            display: none;
        }


        .dotted-line {
          
            height: 4px;
            background: repeating-linear-gradient(to right, #ccc, #ccc 10px, transparent 10px, transparent 20px);
        }
    </style>