---
import Layout from '../layouts/Layoutapp.astro';
import Navbar from "../components/Navbar_c.svelte";
import Productexpo from '../components/Productlaunchapp.svelte';

---

<Layout title="Kerala Startup Mission">
    <div class=" w-screen h-screen bg-[#ed1c24] relative">
        <img src="/img/wifi1.svg" class=" absolute top-0">
        <img src="/img/wifi2.svg" class=" absolute top-0 right-0">
        <img src="/img/wifi3.svg" class=" absolute bottom-0 ">
        <img src="/img/wifi4.svg" class=" absolute bottom-0  right-0">

        <img src="/img/wifi.svg" class=" w-full h-full object-contain p-4">
    </div>

</Layout>