---
import Layout from '../layouts/Layout.astro';
import Navbar from "../components/Navbar_c.svelte";
import Speakers from "../components/Speakerselevata.svelte";



---
<!-- // import MarketingAgenda from "../components/MarketingAgenda.svelte"; -->

<Layout>
  <Navbar client:load></Navbar>

  

	<section class="py-24 px-5 z-[10]  min-h-[50vh] flex flex-col justify-center items-center overflow-hidden relative">
		<div class="absolute z-[1] w-full h-full top-0 left-0 bg-black bg-opacity-40"></div>

		<div class="container mx-auto text-center z-[2] pt-10">
            <div class="text-6xl md:text-8xl font-bold mb-5 text-huddle">Women Zone</div>

            <div class="text-base md:text-xl mb-5 max-w-4xl mx-auto">
               The Women Zone at Huddle Global 2024 empowers women in tech, business, and innovation. It features Women in Leadership Talks, the Women Entrepreneurs Expo, and the Women Innovators Hub, showcasing female-led startups and offering mentorship. With exclusive bootcamps and masterclasses, it provides valuable insights and skills for women-led startups, celebrating achievements and fostering growth across industries.,
            </div>
        </div>

        <div class="lg:px-20 md:px-10 z-10 pt-10">
          <p class=" text-white md:text-3xl font-bold md:pt-8 px-3">Bootcamp on "Build Your Software MVPs Without Code"</p>
            <div class=" flex flex-col ">
                <div class="px-6">
                  <p class="text-white text-justify pt-4">
                    The "Build Your Software MVPs Without Code" workshop is a hands-on program designed for women-led startups, aspiring women entrepreneurs, and girl student innovators.
                  </p>
                </div>
              <div class=" flex md:flex-row flex-col">
                <div class="flex md:items-center md:justify-center text-center md:w-1/3 w-full">
                  <img src="/img/Build Your Software MVPs without Code (1).png" class="p-6 z-10  md:items-center md:justify-center">
                </div>
                <div class="p-6 flex flex-col md:w-2/3 w-full items-center justify-center">
                  <p class="text-white text-justify ">
                    Participants will learn how to transform ideas into functional prototypes, automate key business processes, and add cutting-edge AI features, all without writing code. The workshop is perfect for those who want to:
                  </p>
                  <div class=" pl-8 py-2 ">
                      <ul class=" list-disc list-outside">
                          <li>Quickly develop an MVP to test their business idea</li>
                          <li>Automate repetitive business processes to increase efficiency</li>
                          <li>Explore how Generative AI can power their software for enhanced user experience</li>
                      </ul>
                  </div>
                  <p>
                    Don’t miss this opportunity to learn, create, and launch with no-code solutions. Join us to build your software MVPs without code and accelerate your startup journey.  
                  </p>
                  <div class=" pt-6 flex flex-col items-start justify-start text-start w-full">
                      <a class="button z-50 " href="https://ksum.in/Build_Your_Software"  target="_blank">Apply Now</a>
                      <p class=" items-start justify-start italic text-sm pt-4">Selected 30 women only can attend</p>
                  </div>
                </div>
               
              </div>
            </div>
        </div>

        <div class="lg:px-20 md:px-10  z-10 pt-10">
          <p class=" text-white md:text-3xl font-bold md:pt-8 px-3">Workshop on "PRAGATI: Balancing Emotional Well-being and Business"</p>
            <div class=" px-6">
              <p class="text-white text-justify pt-4">
                In the dynamic and often challenging journey of entrepreneurship, maintaining a balance between emotional well-being and business success is crucial. PRAGATI, a transformative wellness workshop curated exclusively for women entrepreneurs, is designed to help you harness the power of emotional intelligence and positive psychology to strengthen your personal and professional life.
              </p>
            </div>
            <div class=" flex md:flex-row flex-col ">
                <div class="flex md:items-center md:justify-center text-center md:w-1/3 w-full">
                    <img src="/img/womenzone/PRAGATI.png" class="p-6 z-10  md:items-center md:justify-center">
                </div>
                <div class="p-6 flex flex-col md:w-2/3 w-full items-start justify-start">
                   
                   <p class="">
                    Workshop Highlights:
                   </p>
                   <div class=" pl-8 py-2 ">
                    <ul class=" list-disc list-outside">
                        <li>Using Emotions as a Tool for Success: Learn how to leverage emotions strategically, turning them into assets that drive both personal and professional growth.</li>
                        <li>Building Emotional Resilience: Explore techniques to manage stress, anxiety, and fatigue, helping you maintain your energy and focus.</li>
                        <li>Defining Your Well-being and Happiness: Create a personalized framework for happiness that aligns with your values and goals, grounding your life and business with purpose.</li>
                        <li>Enhancing Self-Awareness: Deepen your understanding of your own needs, boundaries, and triggers, equipping you to navigate challenges with confidence.</li>
                        <li>Maintaining Inner Balance in Entrepreneurship: Develop methods to stay balanced through the highs and lows of business, ensuring sustainable growth for both you and your venture.</li>
                    </ul>
                </div>
                <div class=" pt-6 flex flex-col items-start justify-start text-start w-full">
                  <a class="button z-50 " href="https://ksum.in/PRAGATI"  target="_blank">Apply Now</a>
                  <p class=" items-start justify-start italic text-sm pt-4">Selected 30 women only can attend</p>
              </div>
                </div>
            </div>
        </div>


        <div class="lg:px-20 md:px-10  z-10 pt-10">
          <p class=" text-white md:text-3xl font-bold md:pt-8 px-3">ElevateHer: Investment Pathway for Women Founders</p>
            <div class=" flex md:flex-row flex-col ">
                <div class="flex md:items-end md:justify-end text-end md:w-1/3 w-full">
                  <img src="/img/womenzone/IMG-20241017-WA0007.jpg" class="p-6 z-10  md:items-end md:justify-end">
                </div>
                <div class="p-6 flex flex-col md:w-2/3 w-full items-start justify-start">
                    <p class="text-white text-justify pt-4">
                      ElevateHer: Investment Pathway for Women Founders is an empowering 3-week "Online Investment Readiness Program" designed exclusively for a select cohort of women-led startups. The program focuses on upskilling participants in areas such as investor pitch deck development, refining their storytelling abilities, and mastering the art of the elevator pitch through hands-on mock pitch sessions.
                    </p>
                    <p class="text-white text-justify pt-4">
                      The journey culminates at Huddle Global 2024, featuring a Pitch "Competition" where these startups will present to top women venture capitalists and angel investors. This event provides an exceptional opportunity for women entrepreneurs to secure external investments and accelerate their business growth.                    </p>
                    <!-- <div class=" pt-10 flex">
                        <a class="button z-50 " href="https://ksum.in/ElevateHER"  target="_blank">Apply Now</a>
                    </div> -->
                </div>
               
            </div>
            <div class=" pb-4">
              <p class=" text-lg font-bold">ElevateHer Session Speakers and Mock Pitch Jury members</p>
            </div>
            <div class=" grid md:grid-cols-5 grid-cols-2 gap-6">
             
              <div class="container mx-auto" id="industry">
                <Speakers title="Speakers" label="" slug="huddle-global-2024" speakerId="wmxR4" client:load />
              </div>

              <div class="container mx-auto" id="industry">
                <Speakers title="Speakers" label="" slug="huddle-global-2024" speakerId="46bE4" client:load />
              </div>

              <div class="container mx-auto" id="industry">
                <Speakers title="Speakers" label="" slug="huddle-global-2024" speakerId="wmVRD" client:load />
              </div>

              <div class="container mx-auto" id="industry">
                <Speakers title="Speakers" label="" slug="huddle-global-2024" speakerId="Ovkz4" client:load />
              </div>

              <div class="container mx-auto" id="industry">
                <Speakers title="Speakers" label="" slug="huddle-global-2024" speakerId="wBVYw" client:load />
              </div>

              <div class="container mx-auto" id="industry">
                <Speakers title="Speakers" label="" slug="huddle-global-2024" speakerId="DzbRD" client:load />
              </div>

              <div class="container mx-auto" id="industry">
                <Speakers title="Speakers" label="" slug="huddle-global-2024" speakerId="O1ANO" client:load />
              </div>

              <div class="container mx-auto" id="industry">
                <Speakers title="Speakers" label="" slug="huddle-global-2024" speakerId="OvblO" client:load />
              </div>

              <div class="container mx-auto" id="industry">
                <Speakers title="Speakers" label="" slug="huddle-global-2024" speakerId="w23XD" client:load />
              </div>
              <div class="container mx-auto" id="industry">
                <Speakers title="Speakers" label="" slug="huddle-global-2024" speakerId="OKa1w" client:load />
              </div>

              <div class="container mx-auto" id="industry">
                <Speakers title="Speakers" label="" slug="huddle-global-2024" speakerId="wlkp4" client:load />
              </div>
              
              
            
              
            </div>

            <!-- <div class=" pb-4 pt-8">
              <p class=" text-lg font-bold">
              </p>
            </div> -->
            <!-- <div class=" grid md:grid-cols-5 grid-cols-2 gap-6">
             
              <div class="container mx-auto" id="industry">
                <Speakers title="Speakers" label="" slug="huddle-global-2024" speakerId="wBVYw" client:load />
              </div>

              <div class="container mx-auto" id="industry">
                <Speakers title="Speakers" label="" slug="huddle-global-2024" speakerId="DzbRD" client:load />
              </div>

              <div class="container mx-auto" id="industry">
                <Speakers title="Speakers" label="" slug="huddle-global-2024" speakerId="O1ANO" client:load />
              </div>

              <div class="container mx-auto" id="industry">
                <Speakers title="Speakers" label="" slug="huddle-global-2024" speakerId="OvblO" client:load />
              </div>

              <div class="container mx-auto" id="industry">
                <Speakers title="Speakers" label="" slug="huddle-global-2024" speakerId="w23XD" client:load />
              </div>
              <div class="container mx-auto" id="industry">
                <Speakers title="Speakers" label="" slug="huddle-global-2024" speakerId="OKa1w" client:load />
              </div>

              <div class="container mx-auto" id="industry">
                <Speakers title="Speakers" label="" slug="huddle-global-2024" speakerId="wlkp4" client:load />
              </div>
              
              
            </div> -->

        </div>
      
        </div>
	</section>

  

    <div class="fixed left-0 bottom-12 m-4  z-50 bg-white shadow-md rounded-md   md:w-72 animate__animated  animate__fadeInDown" id="pop_up" style="display: none;">
        <div class="relative overflow-hidden">
          <img src="/img/2024/sponsorship.png" alt="Your Image" class=" ">
          <div class="absolute bottom-0 left-0  text-white md:p-2.5 p-1 bg-cover bg-bottom bg- w-full text-center uppercase md:text-lg text-sm font-bold  bg-sdg1 bg-opacity-90">
            <div class="flex">
              <a href="https://forms.zohopublic.com/keralastartupmission/form/SponsorshipHuddleGlobal/formperma/VR8pwlKkgjpOg1pKVUf0i8pgFgXZz9s6VN-vE73-CfI" class=" cursor-pointer border text-sm hover:bg-huddle hover:text-white border-huddle p-2 m-auto text-huddle" target="_blank" >Apply Now</a>
              <a href="https://drive.google.com/file/d/1-1APY44ZjLZR7Dzs6mz_Lq6FtaYUC6Lx/view?usp=sharing" class="p-2 border border-huddle m-auto text-huddle hover:bg-huddle hover:text-white text-sm cursor-pointer" target="_blank" >Sponsorship Deck</a>
            </div>
          </div>
          
        </div>
        <button class="absolute -top-2 -left-2 rounded-full bg-slate-900 text-white " id="closePopup">
          <svg class="h-5 w-5" fill="white" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div> 
</Layout>

<style lang="scss" is:global>
  body{
    font-family: 'Lato';
    font-size: 16px;
    line-height: 24px;
    background: black;
    overflow-X: hidden;
    transition: all 0.5s;
    color: #eee;
  }

</style>

<script is:inline>

  document.getElementById('closePopup').addEventListener('click', function() {
          document.getElementById('pop_up').style.display = 'none';
      });

  
  </script>

<style is:global>
    button.collision {
     text-decoration: none;
     color: #fff;
     text-transform: uppercase;
     font-family: 'Poppins', sans-serif;
     font-weight: bold;
     display: block;
     height: 50px;
     width: 150px;
     overflow: hidden;
     line-height: 50px;
     text-align: center;
     position: relative;
     border: 1px solid #C70000;
   }
 
   button.collision::before,
   button.collision::after {
     position: absolute;
     content: '';
     width: 20px;
     height: 20px;
     background:#C70000;
     top: 50%;
     border-radius: 50%;
     z-index: -1;
   }
 
   button.collision::before {
     transform: translate(-50%, -50%);
     left: -20px;
   }
 
   button.collision::after {
     transform: translate(50%, -50%);
     right: -20px;
   }
 
   button.collision:hover::before {
     animation: move-left .8s both;
     animation-direction: alternate;
   }
   button.collision:hover::after {
     animation: move-right .8s both;
     animation-direction: alternate;
   }
 
   button.collision:hover{
     animation: button-color .8s both;
   }
 
   @keyframes button-color {
     0% {
       color: #fff;
     }
     100% {
       color: #c70000;
     }
   }
 
   @keyframes move-left {
     0% {
       left: -20px;
     }
     50% {
       left: 50%;
       width: 20px;
       height: 20px;
     }
     100% {
       left: 50%;
       height: 400px;
       width: 400px;
     }
   }
 
   @keyframes move-right {
     0% {
       right: -20px;
     }
     50% {
       right: 50%;
       width: 20px;
       height: 20px;
     }
     100% {
       right: 50%;
       height: 400px;
       width: 400px;
     }
   }
 
   .button{
     position: relative;
     display: block;
     width: 200px;
     height: 45px;
     line-height: 40px;
     color: #fff;
     font-size: 16px;
     font-weight: 500;
     text-align: center;
     text-transform: uppercase;
     overflow: hidden;
     border-radius: 50px;
     border: 2px solid #c70000;
     transition: all 2s ease;
 
     &:hover{
       color: #fff;
       position: relative;
       z-index: 1;
 
       &::before{
         left: 0%;
         right: auto;
         width: 100%;
         z-index: -1;
       }
 
       &::after{
 
       }
     }
 
     &::before{
       position: absolute;
       top: 0px;
       right: 0px;
       height: 100%;
       width: 0px;
       content: '';
       background: #c70000;
       transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
     }
 
     &::after{
       content: "";
       position: absolute;
       height: 0%;
       left: 50%;
       top: 50%;
       width: 150%;
       transition: all 0.75s ease 0s;
     }
   }
 </style>
 
 <style is:global>
   button.collision {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    display: block;
    height: 50px;
    width: 150px;
    overflow: hidden;
    line-height: 50px;
    text-align: center;
    position: relative;
    border: 1px solid #C70000;
  }
 
  button.collision::before,
  button.collision::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background:#C70000;
    top: 50%;
    border-radius: 50%;
    z-index: -1;
  }
 
  button.collision::before {
    transform: translate(-50%, -50%);
    left: -20px;
  }
 
  button.collision::after {
    transform: translate(50%, -50%);
    right: -20px;
  }
 
  button.collision:hover::before {
    animation: move-left .8s both;
    animation-direction: alternate;
  }
  button.collision:hover::after {
    animation: move-right .8s both;
    animation-direction: alternate;
  }
 
  button.collision:hover{
    animation: button-color .8s both;
  }
 
  @keyframes button-color {
    0% {
      color: #fff;
    }
    100% {
      color: #c70000;
    }
  }
 
  @keyframes move-left {
    0% {
      left: -20px;
    }
    50% {
      left: 50%;
      width: 20px;
      height: 20px;
    }
    100% {
      left: 50%;
      height: 400px;
      width: 400px;
    }
  }
 
  @keyframes move-right {
    0% {
      right: -20px;
    }
    50% {
      right: 50%;
      width: 20px;
      height: 20px;
    }
    100% {
      right: 50%;
      height: 400px;
      width: 400px;
    }
  }
 
  .button_black{
    position: relative;
    display: block;
    width: 200px;
    height: 45px;
    line-height: 40px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    border-radius: 50px;
    border: 2px solid #0f0e0e;
    transition: all 2s ease;
 
    &:hover{
      color: #fff;
      position: relative;
      z-index: 1;
 
      &::before{
        left: 0%;
        right: auto;
        width: 100%;
        z-index: -1;
      }
 
      &::after{
 
      }
    }
 
    &::before{
      position: absolute;
      top: 0px;
      right: 0px;
      height: 100%;
      width: 0px;
      content: '';
      background: #0e0d0d;
      transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    }
 
    &::after{
      content: "";
      position: absolute;
      height: 0%;
      left: 50%;
      top: 50%;
      width: 150%;
      transition: all 0.75s ease 0s;
    }
  }
 </style>
 

<script is:inline>
	function functionshow(d) {
    document.getElementById('pop_up').style.display = 'block';

  
	}
  </script>


<style lang="scss">
  .openTrans{
    transition: max-height .45s cubic-bezier(.44, .99, .48, 1);
  }

  .speaker{
    position: relative;
    //width: 100%;
    overflow: hidden;

    &:hover{
      &::after{
        top: 0;
      }

      .content{
        top: 30%;
        p{
          visibility: visible;
        }
      }

      .linkedin{
        right: 20px;
      }
    }

    .linkedin{
      position: absolute;
      top: 20px;
      right: -30px;
      transition: all 500ms ease;
      z-index: 2;
      color: #00afef;
    }

    .content{
      position: absolute;
      top: 78%;
      z-index: 2;
      padding: 3px 10px 15px 10px;
      transition: all 500ms ease;
      color: white;
      
      h3{
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: .5rem;
        

      }

      p{
        font-size: .9rem;
        font-weight: 300;
        
        visibility: hidden;
        transition: all 500ms ease;
      }
    }

    
      &::after{
        position: absolute;
        content: '';
        left: 0;
        top: 75%;
        border: 15px;
        right: 0;
        bottom: 0;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.8);
        z-index: 1;
        transition: all 500ms ease
      }
      
  }
</style>