

<div>

  <div class="video-background min-h-screen"></div>

  <div class="control hidden space-x-5">
    <button class="px-5 py-2 bg-blue-400 text-white" id="play">Play</button>
    <button class="px-5 py-2 bg-blue-400 text-white" id="reverse">Reverse</button>
  </div>

</div>

<script>
  // Video Section
  import { FastImageSequence } from "@mediamonks/fast-image-sequence";

  let fastImageSequence;

  fastImageSequence = new FastImageSequence(document.querySelector('.video-background'), {
    name: 'LoadTar',
    frames: 150,
    src: [
      {
        imageURL: (i) => {
          var filename = `sequence/seq-${('' + (i + 1)).padStart(3, '0')}.jpg`;
          console.log(i, filename);  
          return filename;
        },
        maxConnectionLimit: 10,
        maxCachedImages: 150
      }
    ],
    // optional arguments:
    loop: false, // default false
    objectFit: 'cover', // default 'cover'
    fillStyle: '#00000000', // default #00000000
    clearCanvas: false, // default false
    showDebugInfo: true,
  });

  fastImageSequence.ready().then(()=>{
    console.log(fastImageSequence);

    fastImageSequence.onLoadProgress((progress)=>{
      console.log(progress);

      if(progress == 1){
        document.querySelector('.control').classList.remove('hidden');
      }
    });
  });

  

  document.querySelector('#play').addEventListener('click', function(){
    fastImageSequence.play(30);
  });

  document.querySelector('#reverse').addEventListener('click', function(){
    fastImageSequence.play(-30);
  });


</script>