---

---

<div id="main-nav" style="display: none;"  class="fixed top-0 z-50 w-64 min-h-screen md:px-32 transition-all duration-300 ease-in-out transform -translate-x-full bg-black sm:w-full sm:min-h-0 sm:h-20 sm:py-3 sm:flex sm:items-center sm:justify-center sm:translate-x-0 md:bg-transparent">
  
  <nav class="flex items-center justify-between">

    <div class="mx-10 my-5 md:m-0">
      <img src="/img/huddle_white.svg" class="h-24 md:h-16" alt="Logo">
    </div>

    <ul class="sm:flex items-center md:text-sm text-white divide-y md:divide-none">

      <li class="hover:bg-white hover:bg-opacity-10 group">
        <a href="/" class="px-4 py-3 inline-block md:py-1 uppercase text-white group-hover:text-yellow-400">Home</a>
      </li>

      <li class="hover:bg-white hover:bg-opacity-10 group">
        <a href="#speakers" class="px-4 py-3 inline-block md:py-1 uppercase text-white group-hover:text-yellow-400">Speakers</a>
      </li>

      <li class="hover:bg-white hover:bg-opacity-10 group">
        <a href="#agenda" class="px-4 py-3 inline-block md:py-1 uppercase text-white group-hover:text-yellow-400">Agenda</a>
      </li>

    </ul>

  </nav>

  <div class="bg hidden md:block"></div>

</div>
