<div class=" md:px-28 px-10">
     <div class=" flex md:flex-row flex-col items-center justify-center mx-auto md:gap-0 gap-8">
         <div class=" flex items-center justify-center mx-auto">
            <img src="/img/Frame 2106.png" alt="" class="rounded-md w-full h-full">
          </div>
          <div class=" flex items-center justify-center mx-auto">
            <img src="/img/Frame 2107.png" alt="" class="rounded-md w-full h-full">
          </div>
    </div>
</div>
